<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <!-- <h1><a href="/">Ninja Smoothies</a></h1> -->
    <ul>
        <li>Home</li>
        <li>Deals</li>
        <li>Coupons</li>
        <li>Hot</li>
      <% if (user) { %>
        <li>Welcome, <%= user.email_address %></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
       <a href="/login"> <li>Log in</li></a>
        <a href="/signup" class="btn"><li>Sign up</li></a>
      <% } %>
    </ul>
  </nav>
  